<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poetry.dao.PoemTypeMapper">
  <resultMap id="BaseResultMap" type="com.poetry.pojo.Do.poem_typeDo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="poem_type_name" jdbcType="VARCHAR" property="poemTypeName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, poem_type_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from poem_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from poem_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.poetry.pojo.Do.poem_typeDo">
    insert into poem_type (id, poem_type_name)
    values (#{id,jdbcType=INTEGER}, #{poemTypeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.poetry.pojo.Do.poem_typeDo">
    insert into poem_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="poemTypeName != null">
        poem_type_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="poemTypeName != null">
        #{poemTypeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.poetry.pojo.Do.poem_typeDo">
    update poem_type
    <set>
      <if test="poemTypeName != null">
        poem_type_name = #{poemTypeName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.poetry.pojo.Do.poem_typeDo">
    update poem_type
    set poem_type_name = #{poemTypeName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="listPoem_typeDo" resultMap="BaseResultMap">
    select id,poem_type_name  from poem_type
  </select>
</mapper>