<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poetry.dao.PostMapper">
  <resultMap id="BaseResultMap" type="com.poetry.pojo.Do.PostDo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="post_time" jdbcType="TIMESTAMP" property="postTime" />
    <result column="poster_id" jdbcType="VARCHAR" property="posterId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, post_time, poster_id, content ,group_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from post
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from post
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.poetry.pojo.Do.PostDo">
    insert into post (id, title, post_time, 
      poster_id, content,group_id)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{postTime,jdbcType=TIMESTAMP}, 
      #{posterId,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},#{groupId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.poetry.pojo.Do.PostDo">
    insert into post
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="postTime != null">
        post_time,
      </if>
      <if test="posterId != null">
        poster_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="postTime != null">
        #{postTime,jdbcType=TIMESTAMP},
      </if>
      <if test="posterId != null">
        #{posterId,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.poetry.pojo.Do.PostDo">
    update post
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="postTime != null">
        post_time = #{postTime,jdbcType=TIMESTAMP},
      </if>
      <if test="posterId != null">
        poster_id = #{posterId,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
      content = #{content,jdbcType=VARCHAR},
    </if>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.poetry.pojo.Do.PostDo">
    update post
    set title = #{title,jdbcType=VARCHAR},
      post_time = #{postTime,jdbcType=TIMESTAMP},
      poster_id = #{posterId,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      group_id = #{groupId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByGroupId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from post where group_id=#{groupId,jdbcType=INTEGER}
  </select>


</mapper>